<footer id="footer" class="{{styles.background.primary.one}}">
    <div class="flex justify-between items-center max-w-screen-xl mx-auto px-8 py-4">
        <div class="text-sm">
            <h4 class="{{styles.text.alt.four}} font-semibold">
                {{meta.siteName}} is released under the 
                <a href="{{links.license.url}}" class="hover:underline">{{links.license.name}}</a>
            </h4>
            <h4 class="{{styles.text.alt.five}}">
                Hosted on 
                <a href="https://netlify.com" class="hover:underline">Netlify</a>
            </h4>
        </div>
        <ul class="hidden lg:flex text-sm font-semibold {{styles.text.alt.four}} -mr-4">
            {% for footerLink in meta.footerLinks %}
            <li class="mx-4">
                <a class="hover:underline" href="{{footerLink.url}}" title="{{footerLink.alt}}">
                    {{footerLink.name}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</footer>