<footer class="bg-red-100">
    <div class="flex justify-between items-center max-w-screen-xl mx-auto px-8 py-4">
    <div class="text-sm">
        <h4 class="text-red-800">&copy;<span data-target="application.year"></span> <a href="https://tom.preston-werner.com/" class="hover:underline">Tom Preston-Werner</a></h4>
        <h4 class="text-red-700 font-semibold">Redwood is released under the <a href="https://github.com/redwoodjs/redwood/blob/main/LICENSE" class="hover:underline">MIT License</a></h4>
        <h4 class="text-red-800">
        Hosted on <a href="https://netlify.com" class="hover:underline">Netlify</a>
        and sponsored by Hypothesis, a <a href="https://prestonwernerventures.com" class="hover:underline">Preston-Werner Ventures</a> initiative
        </h4>
    </div>
    <ul class="hidden lg:flex text-sm font-semibold text-red-700 -mr-4">
        <li class="mx-4">
        <a class="hover:underline" href="/logos.html" title="Redwood logo download and usage">
            Logos
        </a>
        </li>
        <li class="mx-4">
        <a class="hover:underline" href="https://github.com/redwoodjs/redwood/blob/main/CONTRIBUTING.md" title="Go to Redwood's GitHub repo">
            Contributing
        </a>
        </li>
        <li class="mx-4">
        <a class="hover:underline" href="https://github.com/redwoodjs/redwood" title="Go to Redwood's GitHub repo">
            GitHub
        </a>
        </li>
        <li class="mx-4">
        <a class="hover:underline" href="https://twitter.com/redwoodjs" title="Go to Redwood's Twitter page">
            Twitter
        </a>
        </li>
        <li class="mx-4">
        <a class="hover:underline" href="https://community.redwoodjs.com" title="Go to Redwood's Discourse server">
            Discourse
        </a>
        </li>
        <li class="mx-4">
        <a class="hover:underline" href="https://discord.gg/jjSYEQd" title="Go to Redwood's Discord server">
            Discord
        </a>
        </li>
    </ul>
    </div>
</footer>