<footer class="bg-red-100">
    <div class="flex justify-between items-center max-w-screen-xl mx-auto px-8 py-4">
        <div class="text-sm">
            <h4 class="text-red-800">
                &copy;
                <span data-target="application.year"></span>
                <a href="https://tom.preston-werner.com/" class="hover:underline">Tom Preston-Werner</a>
            </h4>
            <h4 class="text-red-700 font-semibold">
                Redwood is released under the 
                <a href="https://github.com/redwoodjs/redwood/blob/main/LICENSE" class="hover:underline">MIT License</a>
            </h4>
            <h4 class="text-red-800">
                Hosted on 
                <a href="https://netlify.com" class="hover:underline">Netlify</a>
                and sponsored by Hypothesis, a 
                <a href="https://prestonwernerventures.com" class="hover:underline">Preston-Werner Ventures</a>
                 initiative
            </h4>
        </div>
        <ul class="hidden lg:flex text-sm font-semibold text-red-700 -mr-4">
            {% for footerLink in meta.footerLinks %}
            <li class="mx-4">
                <a class="hover:underline" href="{{footerLink.url}}" title="{{footerLink.alt}}">
                    {{footerLink.name}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</footer>