---
layout: base.njk
---
<main>
  <article>
    {% include "hero.njk" %}
    <!--{% include "testimonials.njk" %}-->
    <!--{% include "calltoaction.njk" %}-->
    {% include "features.njk" %}
    {% include "organized.njk" %}
    {% include "getstarted.njk" %}
    <!--{% include "usedby.njk" %}-->
    {{ content | safe }}

  </article>
</main>