<section id="organized" class="md:flex mt-24 max-w-screen-lg mx-auto">
  <div class="md:w-2/5 pr-4 text-right">
    <h3 class="text-2xl {{styles.text.alt.four}} font-bold tracking-tight">Quick Start</h3>
    <p class="my-3">
      You might have some amazing script to share.  Or a shell script to share.  This is <span class="whitespace-nowrap">the place</span> to do it!
    </p> 
    <p class="my-3">
      Just type out your code here and <strong>bam</strong> it will look <strong>amazing</strong> over there 👉.
    </p>
  </div>
  <div class="md:w-3/5 md:pl-4 mt-4 md:mt-0 {{styles.border.primary.one}} rounded-lg">
{% highlight "shell" %}
# Clone the repo
$ git clone {{links.github.url + ".git"}}

# Change directory to the repo
$ cd 11ty-docs

# install the dependencies
$ yarn install

# Run it locally
$ yarn start
{% endhighlight %}
</div>
</section>
